@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    margin-left: var(--content-indent);
    padding: 30px 30px 30px 0;
    flex-grow: 1;
}
