.BreedInfoPage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 100%;

    .breedInfoPageContainer {
        width: 100%;
        height: var(--content-page-height);
        padding: 20px;
        border-radius: 20px;
        background-color: var(--inverted-bg-color);

        .breedInfoPageHeader {
            display: flex;
            margin-bottom: 20px;
            gap: 10px;
        }

        .breedInfoPageContent {
            display: flex;
            flex-direction: column;
            align-items: center;

            .breedItemImgWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-height: 360px;
                border-radius: 20px;
                overflow: hidden;
                object-fit: cover;

                .breedItemImg {
                    width: 100%;
                    height: 100%;
                }
            }

            .breedItemInfoWrapper {
                margin-top: 50px;
                height: 100%;
            }
        }
    }
}
