.BreedInfoPage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 100%;

    .breedInfoPageContent {
        width: 100%;
        height: var(--content-page-height);
        padding: 20px;
        border-radius: 20px;
        background-color: var(--inverted-bg-color);

        .breedInfoPageHeader {
            display: flex;
            padding: 0 20px;
            margin-bottom: 20px;
            gap: 10px;
        }
    }
}
