.BreedsList {
    width: 100%;
    height: 100%;
    padding-bottom: 200px;

    .gridContainer {
        display: grid;
        padding: 0 20px;
        margin-bottom: 20px;
        grid-gap: 20px;
        height: 460px;
        grid-template:
            "A B C" 1fr
            "A D D" 1fr
            "E D D" 1fr
            / 1fr 1fr 1fr;

        .item {
            position: relative;
            cursor: pointer;
        }

        .item1 {
            grid-area: A;
            overflow: hidden;
        }

        .item2 {
            grid-area: B;
            overflow: hidden;
        }

        .item3 {
            grid-area: C;
            overflow: hidden;
        }

        .item4 {
            grid-area: D;
            overflow: hidden;
        }

        .item5 {
            grid-area: E;
            overflow: hidden;
        }
    }

    .reverse {
        grid-template:
            "A B C" 1fr
            "D D C" 1fr
            "D D E" 1fr
            / 1fr 1fr 1fr;
    }
}
