.Button {
    cursor: pointer;
    padding: 0 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s linear;
}

.primary {
    background-color: var(--primary-bg-btn-color);
    color: var(--primary-btn-color);
}

.secondary {
    background-color: var(--secondary-bg-btn-color);
    color: var(--thirty-btn-color);

    &:hover {
        background-color: var(--primary-bg-btn-color);
        color: var(--primary-btn-color);

        svg {
            fill: var(--primary-btn-color);
        }
    }
}

.thirty {
    background-color: var(--thirty-bg-btn-color);
    color: var(--thirty-btn-color);
}

.forty {
    background-color: var(--thirty-bg-btn-color);
    color: var(--thirty-btn-color);

    svg {
        fill: var(--thirty-btn-color);
    }

    &:hover {
        background-color: var(--primary-bg-btn-color);
        color: var(--primary-btn-color);

        svg {
            fill: var(--primary-btn-color);
        }
    }
}

.size_s {
    font-size: var(--font-size-s);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.square {
    padding: 0;

    &.size_l {
        width: var(--btn-size-l);
        height: var(--btn-size-l);
        font-size: var(--font-l);
        border-radius: 10px;
    }

    &.size_xl {
        width: var(--btn-size-xl);
        height: var(--btn-size-xl);
        font-size: var(--font-xl);
        border-radius: 20px;
    }
}

.filled {
    padding: 10px 15px;
    background-color: var(--thirty-btn-color);
    border: none;
    border-radius: 10px;
    min-width: 138px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: var(--white-color);
    text-transform: uppercase;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}
