.BreedInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 100%;

    .pageContainer {
        width: 100%;
        height: var(--content-page-height);
        padding: 20px;
        border-radius: 20px;
        background-color: var(--inverted-bg-color);
        overflow-y: auto;

        &::-webkit-scrollbar { width: 0; }

        .pageHeader {
            display: flex;
            margin-bottom: 20px;
            gap: 10px;
        }

        .pageContent {
            display: flex;
            flex-direction: column;
            align-items: center;

            .imgWrapper {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-height: 360px;
                border-radius: 20px;
                overflow: hidden;
                object-fit: cover;
                cursor: pointer;

                .breedItemImg {
                    width: 100%;
                    height: 100%;
                }

                &:hover .fullScreenImg {
                    opacity: 1;
                }
            }

            .infoWrapper {
                position: relative;
                margin-top: 50px;
                padding: 0 60px 40px;
                width: 100%;
                height: 100%;
                min-height: 200px;
                border: 1px solid var(--secondary-bg-btn-color);
                border-radius: 20px;

                .infoTitle {
                    position: absolute;
                    top: -30px;
                    left: 50%;
                    padding: 0 40px;
                    transform: translateX(-50%);
                    background-color: var(--inverted-bg-color);
                    white-space: nowrap;
                    font-weight: 500;
                }

                .infoSubtitle {
                    margin-top: 26px;
                }

                .infoContent {
                    display: flex;
                    align-items: start;
                    margin-top: 20px;
                    gap: 20px;

                    .infoContentBlock {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 48%;

                        .blockElement {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }
                    }

                    .infoContentBlockTemp {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        width: 48%;
                    }
                }
            }
        }
    }
}
