.app_dark_theme {
    --bg-color: #1d1d1d;
    --inverted-bg-color: #ffffff0c;
    --modal-bg-color: #282828;

    // Text
    --primary-color: #fff;
    --secondary-color: #8c8c8c;

    // Button
    --primary-bg-btn-color: #ff868e;
    --secondary-bg-btn-color: #ff868e33;
    --primary-btn-color: #fff;
    --secondary-btn-color: #fbe0dc;
    --thirty-btn-color: #ff868e;
    --primary-bg-link-color: #ffffff0c;
    --loader-color: #fff;
    --indicator-color: #ff868e;
}
