.app_dark_theme {
    --bg-color: #1d1d1d;
    --inverted-bg-color: #282828;
    --main-page-bg-color: #282828;
    --modal-bg-color: #282828;
    --select-bg-color-standard: #1d1d1d;
    --select-bg-color-filled: #3d3c3c;

    // Text
    --primary-color: #fff;
    --secondary-color: #8c8c8c;

    // Button
    --primary-bg-btn-color: #ff868e;
    --secondary-bg-btn-color: #533b3c;
    --thirty-bg-btn-color: #282828;
    --primary-btn-color: #fff;
    --secondary-btn-color: #fbe0dc;
    --thirty-btn-color: #ff868e;
    --loader-color: #fff;

    // Border
    --hover-border-btn-color: #533b3c;
    --active-border-btn-color: #ff868e;
}
