.Navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    width: var(--navbar-width);
    height: var(--navbar-height);
    background: var(--bg-color);

    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 30px 0;
        min-width: 446px;
        min-height: 554px;
        width: 32vw;
        height: 62vh;

        .switchers {
            display: flex;
            align-items: center;
            gap: 15px;
            position: absolute;
            top: 30px;
            right: 20px;
        }

        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            height: 244px;
        }
    }
}
