.NoItemInfo {
    display: flex;
    align-items: center;
    padding: 18px 20px 18px 18px;
    width: 100%;
    min-height: 60px;
    border-radius: 10px;
    background-color: var(--select-bg-color-filled);
}
